<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>

  <body>
    <header class="site-navbar py-4" role="banner">
      <div style="position: relative; bottom: 80px;"><%- include('header') %></div>
    </header>
    <div class="site-wrap">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <div
        class="hero overlay"
        style="
          background-image: url('/static/images/wallpaperbetter.jpg');
          background-position: 0 1px;
        "
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 ml-auto">
              <h1 class="text-white">CHELSEA</h1>

              <p>
                <a href="#magazine" class="btn py-3 px-4 mr-3" style="background-color: blue; color: white; margin: 5px;">Magazine</a>
                <a href="#photo" class="more light py-3 px-4 mr-3" style="margin: 5px;">Photo</a>
                <a href="#team" class="more light py-3 px-4 mr-3" style="margin: 5px;">Team</a>
                <a href="#match" class="more light py-3 px-4 mr-3" style="margin: 5px;">Match</a>
                <a href="#developer" class="more light py-3 px-4 mr-3" style="margin: 5px;">Developer</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <a name="magazine"></a>
      <div class="slidebook_c" style="height: 100vh">
        <%- include('chelseaslidebook'); %>
      </div>

      <a name="photo"></a>
      <div class="view_c" style="height: 100vh">
        <%- include('chelseaview'); %>
      </div>

      <a name="team"></a>
      <div class="player-list" style="height: 2000px">
        <%- include('playerListChelsea');%>
      </div>

      <a name="match"></a>
      <div class="site-section bg-dark">
        <div class="container">
          <div class="row" style="position: relative; bottom:100px;">
            <div class="col-lg-6">
              <div class="widget-next-match">
                <div class="widget-title">
                  <h3>Next Match</h3>
                </div>
                <div class="widget-body mb-3">
                  <div class="widget-vs">
                    <div
                      class="d-flex align-items-center justify-content-around justify-content-between w-100"
                    >
                      <div class="team-1 text-center">
                        <img
                          src="/static/images/Chelsea_FC_Logo.svg.png"
                          alt="Image"
                        />
                        <h3>CHELSEA</h3>
                      </div>
                      <div>
                        <span class="vs"><span>VS</span></span>
                      </div>
                      <div class="team-2 text-center">
                        <img src="/static/images/img.png" alt="Image" />
                        <h3>LIVERPOOL</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-center widget-vs-contents mb-4">
                  <h4>World Cup League</h4>
                  <p class="mb-5">
                    <span class="d-block">December 20th, 2020</span>
                    <span class="d-block">9:30 AM GMT+0</span>
                    <strong class="text-primary">New Euro Arena</strong>
                  </p>

                  <div id="date-countdown2" class="pb-1"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="widget-next-match">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th>P</th>
                      <th>Team</th>
                      <th>W</th>
                      <th>D</th>
                      <th>L</th>
                      <th>PTS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <strong class="text-white">ARSENAL</strong>
                      </td>
                      <td>22</td>
                      <td>3</td>
                      <td>3</td>
                      <td>69</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><strong class="text-white">MENCITY</strong></td>
                      <td>19</td>
                      <td>4</td>
                      <td>4</td>
                      <td>61</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <strong class="text-white">MENCHESTER UNITED</strong>
                      </td>
                      <td>15</td>
                      <td>5</td>
                      <td>6</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <strong class="text-white">TOTTENHAM</strong>
                      </td>
                      <td>15</td>
                      <td>4</td>
                      <td>9</td>
                      <td>49</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><strong class="text-white">NEWCASTLE</strong></td>
                      <td>12</td>
                      <td>11</td>
                      <td>3</td>
                      <td>47</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>
                        <strong class="text-white">LIVERPOOL</strong>
                      </td>
                      <td>12</td>
                      <td>6</td>
                      <td>8</td>
                      <td>42</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td><strong class="text-white">BRIGHTON</strong></td>
                      <td>12</td>
                      <td>6</td>
                      <td>7</td>
                      <td>42</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td><strong class="text-white">BRENTFORD</strong></td>
                      <td>10</td>
                      <td>12</td>
                      <td>5</td>
                      <td>42</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td><strong class="text-white">FULHAM</strong></td>
                      <td>11</td>
                      <td>6</td>
                      <td>10</td>
                      <td>39</td>
                    </tr>
                    <tr style="background-color: rgba(0, 0, 200, 0.3); color:white;">
                      <td>10</td>
                      <td><strong class="text-white">CHELSEA</strong></td>
                      <td>10</td>
                      <td>8</td>
                      <td>9</td>
                      <td>38</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .site-section -->

      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-6 title-section">
              <h2 class="heading">Chelsea Highlight</h2>
            </div>
            <div class="col-6 text-right">
              <div class="custom-nav">
                <a href="#" class="js-custom-prev-v2"
                  ><span class="icon-keyboard_arrow_left"></span
                ></a>
                <span></span>
                <a href="#" class="js-custom-next-v2"
                  ><span class="icon-keyboard_arrow_right"></span
                ></a>
              </div>
            </div>
          </div>

          <div class="owl-4-slider owl-carousel" style="height:370px;">
            <div class="item">
              <div class="video-media">
                <img src="/static/images/chelseahighlight1.jpg" alt="Image" class="img-fluid" />
                <a
                  href="https://youtu.be/GkoKZUBvC9E"
                  class="d-flex play-button align-items-center"
                  data-fancybox
                >
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                  <div class="caption">
                    <h3 class="m-0">Chelsea v Everton (2-2)</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="video-media">
                <img src="/static/images/chelseahighlight2.jpg" alt="Image" class="img-fluid" />
                <a
                  href="https://youtu.be/W0gkMq4mKaY"
                  class="d-flex play-button align-items-center"
                  data-fancybox
                >
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                  <div class="caption">
                    <h3 class="m-0">
                      Chelsea v Dortmund (2-0; 2-1 agg)
                    </h3>
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="video-media">
                <img  src="/static/images/chelseahighlight3.jpg" alt="Image" class="img-fluid" />
                <a
                  href="https://youtu.be/c61yCta-SOQ"
                  class="d-flex play-button align-items-center"
                  data-fancybox
                >
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                  <div class="caption">
                    <h3 class="m-0">Tottenham Hotspur v Chelsea (2-0)</h3>
                  </div>
                </a>
              </div>
            </div>

            <div class="item">
              <div class="video-media">
                <img src="/static/images/chelseahighlight4.jpg" alt="Image" class="img-fluid" />
                <a
                  href="https://youtu.be/bXXAzIfUTNI"
                  class="d-flex play-button align-items-center"
                  data-fancybox
                >
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                  <div class="caption">
                    <h3 class="m-0">West Ham v Chelsea (0-7)</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="video-media">
                <img src="/static/images/chelseahighlight5.jpg" alt="Image" class="img-fluid" />
                <a
                  href="https://youtu.be/6wU-IFAEP8w"
                  class="d-flex play-button align-items-center"
                  data-fancybox
                >
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                  <div class="caption">
                    <h3 class="m-0">
                      Development Squad v Arsenal U21 (1-0)
                    </h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="video-media">
                <img src="/static/images/chelseahighlight6.jpg" alt="Image" class="img-fluid" />
                <a
                  href="https://www.youtube.com/watch?v=a1Uls8UvZCo"
                  class="d-flex play-button align-items-center"
                  data-fancybox
                >
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                  <div class="caption">
                    <h3 class="m-0">Chelsea v Southampton (0-1)</h3>
                  </div>
                </a>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <!--<div class="container site-section">
        <div class="row">
          <div class="col-6 title-section">
            <h2 class="heading">Our Blog</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="custom-media d-flex">
              <div class="img mr-4">
                <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid" />
              </div>
              <div class="text">
                <span class="meta">May 20, 2020</span>
                <h3 class="mb-4">
                  <a href="#">Romolu to stay at Real Nadrid?</a>
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Possimus deserunt saepe tempora dolorem.
                </p>
                <p><a href="#">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="custom-media d-flex">
              <div class="img mr-4">
                <img src="/static/images/img_3.jpg" alt="Image" class="img-fluid" />
              </div>
              <div class="text">
                <span class="meta">May 20, 2020</span>
                <h3 class="mb-4">
                  <a href="#">Romolu to stay at Real Nadrid?</a>
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Possimus deserunt saepe tempora dolorem.
                </p>
                <p><a href="#">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <a name="developer"></a>
      <footer class="footer-section">
        <%- include('footer') %>
      </footer>
    </div>
    <!-- .site-wrap -->

    
  </body>
  <%- include('jsinclude') %>
</html>
