<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include('head') %>


</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <%- include('header') %>

    </header>
    <div class="hero overlay" style="background: url('/static/images/halloffame.png'); background-size: 100% 100%;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">EPL 2022<br/>Hall of Fame</h1>
          </div>
        </div>
      </div>
      
    </div>


    <div class="bpcard" >
        
      <%- include('bestplayer') %>
    </div>
    
    
   



    <footer class="footer-section">
      <%- include('footer') %>
    </footer>



  </div>
  <!-- .site-wrap -->

  <%- include('jsinclude') %>

</body>

</html>