<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>good</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <h1>ScrollTrigger</h1>

    <div class="test"></div>
    <div class="title">테스트를 위한 여백</div>

    <div class="container">
      <div class="map">
        <%let num = 0;%> <% for(let j = 0; j < 16; j++){ %>
        <div class="box_col col<%=j%>">
          <% for(let i = 0; i<5; i++){ %>
          <section class="hidden">
            <div class="box_row row<%=num%>"><%=num%></div>
            <%num=num + 1%><% } %>
          </section>
        </div>
        <%}%>
      </div>
      <div class="map">
        <%let numr = 0;%> <% for(let jr = 0; jr < 16; jr++){ %>
        <div class="box_col col<%=jr%>">
          <% for(let ir = 0; ir<5; ir++){ %>
          <section class="hidden2">
            <div class="box_row row<%=numr%>"><%=numr%></div>
            <%numr=numr + 1%><% } %>
          </section>
        </div>
        <%}%>
      </div>
    </div>
    <section class="d">
      <img class="as" src="../static/img/d.jpg" alt="1" />
    </section>
    <div class="end"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
