<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>content</title>
    <link rel="stylesheet" href="./css/content.css" />
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- main js file -->
    <script defer type="module" src="./js/content.js"></script>
    <!-- 육각형 그래프 그리는 툴을 위함-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/f0ebd696f1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body_player">
    <!-- 선수 목록 -->
    <div class="container">
      <div class="center list flex-column">
        <%let players = cdata.chelsea;%>
        <%for (p of players) {%>
        <div class="card flex-row">
          <img
            src=<%=p.path%>
            class="player"
          />
          <div class="flex-column info">
            <div class="name"><%=p.name%></div>
            <div class="team"><%=p.team%></div>
            <div class="position"><%=p.position%></div>
          </div>
          <div class="flex-column backNumber">
            <div class="number"><%=p.number%></div>
          </div>
          <div class="flex-column group">
            <div class="members">
              <span class="current"><%=p.ovr%></span> /
              <span class="max">100</span>
            </div>
            <div class="hidden bottom">
              <button class="view" id=<%=`${p.number}`%>>view</button>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>

    <!-- 팝업 창 -->
    <div id="modal-container">
      <div class="modal-background">
        <div class="modal">
          <div class="head">
            <div class="close">
              <i class="fa-solid fa-xmark fa-rotate-180 fa-2xl"></i>
            </div>
            <div class="btn">
              <button class="info-btn">info</button>
              <button class="career-btn">career</button>
            </div>
          </div>
          <!-- 그래프 -->
          <div id="app">
            <div class="graph">
              <div class="average">
                <h4>OVR</h4>
              </div>
              <canvas id="canvas" width="500" height="800"></canvas>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    <!-- <div id="modal-container-career">
      <div class="modal-background-career">
        <div class="modal-career">
          <div class="head-career">
            <div class="close-career">
              <i class="fa-solid fa-xmark fa-rotate-180 fa-2xl"></i>
            </div>
            <div class="btn-career">
              <button class="info-btn">info</button>
              <button class="career-btn">career</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>
